@charset "UTF-8";

html,
body {
  height: 100%;
}

/*Estilização do NAVBAR*/

#brand-logo {
  width: 50px;
}

.brand-text {
  font-size: 1.1rem;
  font-weight: bold;
}

/*Home*/

#main-banner {
  background: url(/php-mysql-crud/assets/img/pizza-banner4.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-position-y: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container {
  margin-bottom: 100px;
  padding: 50px 0;
  text-align: center;
  min-height: 50%;
}

#main-container h2 {
  margin-bottom: 30px;
}

.row {
  margin: 0;
}

#pizza-form {
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}

#pizza-form label {
  font-weight: bold;
}

.btn.btn-primary {
  background-color: #fdde59;
  color: #212529;
  border-color: #212529;
}

/*Alerta*/

.alert {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  padding: 20px;
  font-size: 18px;
}

.alert.alert-success {
  border: 2px solid #fdde59;
}

.alert.alert-warning {
  border: 2px solid #856404;
}

.alert p {
  margin-bottom: 0;
}
.btn.btn-primary:hover {
  background-color: #212529;
  color: #fdde59;
  border-color: #212529;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/*Footer*/

footer {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: #212529;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
