@charset "UTF-8";

html,
body {
  height: 100%;
}

/*Estilização do NAVBAR*/

#brand-logo {
  width: 50px;
}

.brand-text {
  font-size: 1.1rem;
  font-weight: bold;
}

/*Footer*/

footer {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: #212529;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
